/* General styles for the body and html */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Default background color */
    -webkit-touch-callout: none; /* Disable callouts */
    -webkit-user-select: none;   /* Disable text selection */
    -moz-user-select: none;      /* Disable text selection for Firefox */
    -ms-user-select: none;       /* Disable text selection for Internet Explorer/Edge */
    user-select: none;           /* Disable text selection for modern browsers */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Remove tap highlight */
}

/* Hide the color counts container */
#color-counts {
    display: none;
}

/* Styling for the main game container */
#game-container {
    text-align: center;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Soft shadow for depth */
    width: 100%;
    height: 100%;
    margin: 0; /* Remove margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure absolute children are positioned relative to this */
}

/* Styling for the color display circle */
.color-display {
    width: 20vw; /* 20% of the viewport width */
    height: 20vw; /* 20% of the viewport width */
    max-width: 300px; /* Maximum size */
    max-height: 300px; /* Maximum size */
    border-radius: 50%; /* Circle shape */
    background-color: #FFF; /* Start as white */
    box-shadow: 0 4px 8px rgba(0,0,0,0); /* Consistent shadow styling */
    border: none; /* Default no border */
}

/* Add black border when body background is white */
.color-display.white-background {
    border: 3px solid black;
}

/* Styling for the button container */
#color-buttons {
    background-color: rgba(255, 255, 255, 0.8); /* Gray background for contrast */
    padding: 20px; /* Slightly increased padding */
    border-radius: 25px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%; /* Space above the container */
    position: absolute;
    bottom: 5%;
}

/* Styling for individual buttons */
#color-buttons button {
    margin: 10px;
    padding: 20px 20px; /* Adjusted for better touch */
    font-size: 14px; /* Adjust font size for small screens */
    cursor: pointer;
    border: none;
    border-radius: 15px; /* Rounded corners */
    background-color: inherit; /* Maintain inline style color */
    color: inherit; /* Maintain inline style text color */
    border: 2px solid black;
    transition: transform 0.2s; /* Smooth transform on hover */
    touch-action: manipulation; /* Ensure touch actions are handled correctly */
}

/* Hover effect for buttons */
#color-buttons button:hover {
    transform: scale(1.5); /* Slightly enlarge buttons on hover */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Shadow effect for depth */
}

/* Styling for the reset container */
#reset-container {
    text-align: right;
    position: absolute;
    top: 2%;
    right: 2%;
    margin-top: 30%;
}

/* Styling for the reset button */
#reset-button {
    padding: 20px 25px; /* Adjusted padding for small screens */
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 10px; /* Space below the button */
    border-radius: 8px; /* Rounded corners */
    background-color: rgba(255, 255, 255, 0.8); /* Green background */
    color: black; /* White text color */
    border: none; /* No border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: background-color 0.3s; /* Smooth background color transition */
}

/* Change background color on hover for reset button */
#reset-button:hover {
    background-color: #38e038; /* Darker green on hover */
}

/* Styling for the mix indicator */
.mix-indicator {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Styling for dots in the mix indicator */
.mix-indicator .dot {
    height: 30px; /* Adjusted for small screens */
    width: 30px; /* Adjusted for small screens */
    background-color: black; /* Default color */
    border-radius: 50%; /* Rounded dots */
    margin: 2px;
    border: none;
}

/* Add this CSS for white dots when the background is black */
body.background-black .mix-indicator .dot {
    background-color: white;
}

/* Additional styling for the mix indicator counter */
.mix-indicator-counter {
    font-size: 18px; /* Adjusted for small screens */
    margin-left: 10px;
    align-self: center;
}

/* Styling for the hearts container */
#hearts-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

/* Styling for the hearts */
.heart {
    width: 25px; /* Adjusted for better visibility on small screens */
    height: 25px; /* Adjusted for better visibility on small screens */
    background-color: red;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin-right: 8px;
    border: 2px solid black;
}

/* Styling for the Oops pop-up */
#oops-popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 36px; /* Adjust font size for small screens */
    text-align: center;
    z-index: 1000; /* Ensure it is above other elements */
    width: 80%; /* Ensure it fits on small screens */
}

/* Styling for the Try Again pop-up */
#try-again-popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 36px; /* Adjust font size for small screens */
    text-align: center;
    z-index: 1000; /* Ensure it is above other elements */
    width: 80%; /* Ensure it fits on small screens */
}

/* Styling for the streak container */
#streaks {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 290px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

/* Styling for the streak text */
#streaks p {
    margin: 25px 25px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

/* Media query for small screens */
@media (max-width: 600px) {
    .color-display {
        width: 40vw;
        height: 40vw;
    }

    #color-buttons button {
        font-size: 12px;
        padding: 10px 15px;
        width: 15vw;
        height: 15vw;
    }

    .mix-indicator .dot {
        width: 20px;
        height: 20px;
    }

    .heart {
        width: 10px;
        height: 10px;
        margin-left: 5px;
    }

    #reset-button {
        font-size: 12px;
        padding: 8px 15px;
    }

    #oops-popup, #try-again-popup {
        font-size: 36px;
        padding: 15px;
    }

    .mix-indicator-counter {
        font-size: 16px;
    }
}
