/* General styles for the body and html */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Default background color */
    -webkit-touch-callout: none; /* Disable callouts */
    -webkit-user-select: none;   /* Disable text selection */
    -moz-user-select: none;      /* Disable text selection for Firefox */
    -ms-user-select: none;       /* Disable text selection for Internet Explorer/Edge */
    user-select: none;           /* Disable text selection for modern browsers */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Remove tap highlight */
}

/* Hide the color counts container */
#color-counts {
    display: left;
}

/* Styling for the main game container */
#game-container {
    text-align: center;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Soft shadow for depth */
    width: 100%;
    height: 100%;
    margin: 0; /* Remove margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure absolute children are positioned relative to this */
}

/* Styling for the color display circle */
.color-display {
    width: 20vw; /* 20% of the viewport width */
    height: 20vw; /* 20% of the viewport width */
    max-width: 300px; /* Maximum size */
    max-height: 300px; /* Maximum size */
    border-radius: 50%; /* Circle shape */
    background-color: #FFF; /* Start as white */
    box-shadow: 0 4px 8px rgba(0,0,0,0); /* Consistent shadow styling */
    border: none; /* Default no border */
}

/* Add black border when body background is white */
.color-display.white-background {
    border: 3px solid black;
}

/* Styling for the button container */
#color-buttons {
    background-color: rgba(255, 255, 255, 0.8); /* Gray background for contrast */
    padding: 20px; /* Slightly increased padding */
    border-radius: 25px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%; /* Space above the container */
    position: absolute;
    bottom: 5%;
}

/* Styling for individual buttons */
#color-buttons button {
    margin: 10px;
    padding: 20px 20px; /* Adjusted for better touch */
    font-size: 14px; /* Adjust font size for small screens */
    cursor: pointer;
    border: none;
    border-radius: 15px; /* Rounded corners */
    background-color: inherit; /* Maintain inline style color */
    color: inherit; /* Maintain inline style text color */
    border: 2px solid black;
    transition: transform 0.2s; /* Smooth transform on hover */
    touch-action: manipulation; /* Ensure touch actions are handled correctly */
}

/* Hover effect for buttons */
#color-buttons button:hover {
    transform: scale(1.5); /* Slightly enlarge buttons on hover */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Shadow effect for depth */
}

/* Active effect for buttons to reset scale */
#color-buttons button:active {
    transform: scale(1); /* Reset scale on button press */
    box-shadow: none; /* Remove shadow effect when pressed */
}

/* Styling for the mix indicator */
.mix-indicator {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Styling for dots in the mix indicator */
.mix-indicator .dot {
    height: 30px; /* Adjusted for small screens */
    width: 30px; /* Adjusted for small screens */
    background-color: gray; /* Default color */
    box-shadow: 0 2px 4px black;
    border-radius: 50%; /* Rounded dots */
    margin: 2px;
    border: none;
}

/* Add this CSS for white dots when the background is black */
body.background-black .mix-indicator .dot {
    background-color: white;
}

/* Additional styling for the mix indicator counter */
.mix-indicator-counter {
    font-size: 18px; /* Adjusted for small screens */
    margin-left: 10px;
    align-self: center;
}

/* Styling for squares in the mix indicator */
.square {
    height: 30px; /* Adjusted for small screens */
    width: 30px; /* Adjusted for small screens */
    color: gray; /* Default text color */
    display: flex;
    box-shadow: 0 2px 4px black;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
    font-size: 16px; /* Font size for the number */
}

/* Set the font color of the last square to black */
.mix-indicator .square:last-child {
    color: black;
}

/* Styling for the result pop-up */
#result-popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 36px; /* Adjust font size for small screens */
    text-align: center;
    z-index: 1000; /* Ensure it is above other elements */
    width: auto; /* Adjusted width */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    flex-direction: row; /* Align children in a row */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

/* Styling for the squares in the result popup */
#result-popup .square {
    margin: 5px;
    height: 40px; /* Adjusted for visibility */
    width: 40px; /* Adjusted for visibility */
    font-size: 18px; /* Adjusted font size */
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray; /* Text color */
}

/* Styling for the OK button in the result popup */
#ok-button {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #38e038; /* Green background */
    color: white; /* White text */
    cursor: pointer;
    display: none; /* Hidden by default */
}

#ok-button:hover {
    background-color: #32cd32; /* Darker green on hover */
}

/* Flash effect for the status container */
.status-flash {
    animation: flash-green 1s;
}

@keyframes flash-green {
    from {
        background-color: #38e038;
    }
    to {
        background-color: rgba(255, 255, 255, 0.8); /* Original background color */
    }
}

/* Styling for the unified status container */
#status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Adjust width to be responsive */
    max-width: 600px; /* Maximum width for larger screens */
}

/* Styling for the streak container inside the status container */
#streaks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Styling for the streak text */
#streaks p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Styling for the hearts container inside the status container */
#hearts-container {
    display: flex;
    align-items: center;
}

/* Styling for the hearts */
.heart {
    width: 25px; /* Adjusted for better visibility on small screens */
    height: 25px; /* Adjusted for better visibility on small screens */
    background-color: red;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin-right: 8px;
    border: 2px solid black;
}

/* Styling for the reset button inside the status container */
#reset-button {
    padding: 10px 15px; /* Adjusted padding for small screens */
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
    background-color: rgba(255, 255, 255, 0.8); /* Neutral background */
    color: black; /* Text color */
    border: none; /* No border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: background-color 0.3s; /* Smooth background color transition */
}

/* Change background color on hover for reset button */
#reset-button:hover {
    background-color: #38e038; /* Green on hover */
}

/* Temporary color change when pressed */
#reset-button.pressed {
    background-color: #38e038; /* Green when pressed */
}

/* Media query for small screens */
@media (max-width: 600px) {
    .color-display {
        width: 40vw;
        height: 40vw;
    }

    #color-buttons button {
        font-size: 12px;
        padding: 10px 15px;
        width: 15vw;
        height: 15vw;
    }

    .mix-indicator .dot {
        width: 20px;
        height: 20px;
    }

    #reset-button {
        font-size: 12px;
        padding: 8px 15px;
    }

    #result-popup {
        font-size: 24px;
        padding: 10px;
    }

    #result-popup .square {
        margin: 2px;
        height: 40px; /* Adjusted for visibility */
        width: 40px; /* Adjusted for visibility */
        font-size: 20px; /* Adjusted font size */
    }

    #ok-button {
        font-size: 24px;
        padding: 8px 15px;
    }

    .mix-indicator-counter {
        font-size: 16px;
    }

    #status-container {
        flex-direction: row;
        align-items: center;
        padding: 7%;
    }

    #streaks {
        align-items: center;
        margin-bottom: 0px;
    }

    #streaks p {
        font-size: 24px;
    }

    #hearts-container {
        margin-bottom: 0px;
    }

    .heart {
        width: 20px;
        height: 20px;
    }

    #reset-button {
        font-size: 20px;
        padding: 8px 12px;
    }
}
